#teams:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}
#teams {
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: gray;
    -fx-background-color: rgba(255,255,255,0.5);
}
#grideu {
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: gray;
    -fx-background-color: rgba(255,255,255,0.5);
}
#math:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}
#match {
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: gray;
    -fx-background-color: rgba(255,255,255,0.5);
}

#teams:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
#loginPane {
    -fx-background-image: url("nba-background.jpg");
    -fx-background-position: center center;
    -fx-background-size: 1920 1080;

}
#AccueilUserPane {
    -fx-background-image: url("nba-background.jpg");
    -fx-background-position: center center;
    -fx-background-size: 1920 1080;
}
#TeamPane {
    -fx-background-image: url("nba-background.jpg");
    -fx-background-position: center center;
    -fx-background-size: 1920 1080;
}
#RechercheJoueurPane {
    -fx-background-image: url("nba-background.jpg");
    -fx-background-position: center center;
    -fx-background-size: 1920 1080;
}
#rech {
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: gray;
    -fx-background-color: rgba(255,255,255,0.5);
}
#OptionPane {
    -fx-background-image: url("nba-background.jpg");
    -fx-background-position: center center;
    -fx-background-size: 1920 1080;
}
#ProfilPane {
    -fx-background-image: url("nba-background.jpg");
    -fx-background-position: center center;
    -fx-background-size: 1920 1080;
}